# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For examples see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

# These owners will be the default owners for everything in the repo.

# Platform related code
/infrastruture/                       @bitsoex/code-owners-devops
/codebuild/                           @bitsoex/code-owners-devops
/deployments/                         @bitsoex/code-owners-devops


# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
